html{
    font-family: sans-serif;
    box-sizing: border-box;
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    font-size: 1.6rem;
    background-color: beige;
}

header, footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 2rem 12rem;
    text-transform: uppercase;
    font-weight: 900;
}

.container{
    background-color: rgb(230, 227, 76);
    margin: 5rem 12rem;
    padding: 5rem;
    border-radius: 1rem;
}

.container img{
    width: 100%;
    border-radius: 1rem;
}

.animal_description {
    margin-top: 5rem;
    line-height: 3rem;
}
