html{
    font-family: "Roboto", serif;
    box-sizing: border-box;
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    font-size: 1.6rem;
    background-color: rgb(183, 220, 235);
    color:rgb(70, 67, 67)
}

header, 
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 2rem 12rem;
    font-weight: 900;
    text-transform: uppercase;
}

.index_container{
    width: 100%;
    height: 82vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav-content{
    width: 100%;
    padding: 2rem;
    background-color: rgb(70, 67, 67);
    border-radius: 5rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.main-nav{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

.main-nav a{
    color: whitesmoke;
    transition: all 0.7s;
    text-decoration: none;
}

.main-nav a:hover{
    background-color: rgb(183, 220, 235);
    color: #333;
    font-weight: 900;
    padding: 2rem;
    transition: all 1s;
}

.container{
    max-width: 1024px;
    margin: 5rem auto;
    padding: 5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#web_presentation_container{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin: 5rem;
    text-align: center;
    line-height: 3rem;
}

#bio_card{
    background-color: whitesmoke;
    width: 80%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.bio_title_card, 
.bio_subtitle_card{
    width: 100%;
    padding: 2rem;
    text-align: center;
    border-bottom: #333 solid 0.5rem;
}

.img_card{
    margin-top: 2rem;
    width: 100%;
    border-radius: 1rem;
}

.bio_description_card {
    margin-top: 2rem;
    padding: 2rem 0;
    line-height: 3rem;
    text-align: center;
    border-top: #333 solid 0.5rem;
}

.bio_container_button_card{
    width: 100%;
}

.bio_button_card{
    width: 100%;
    background-color: #333333de;
    padding: 2rem;
    border-radius: 1rem;
    color: whitesmoke;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 1s;
}

.bio_button_card:hover{
    background-color: #333;
    transition: all 1s;
}

.bio_button_card:active{
    background-color: #292929;
    transition: all 0.5s;
    position: relative;
    top: 0.2rem;
}

#layout_card{
    background-color: rgb(174, 171, 171);
    width: 80%;
    margin: 5rem auto;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

#layout_card ul{
    list-style: none;
}

.layout_row{
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}

.layout_color_row{
    background-color: rgb(70, 67, 67);
}

.layout_color_row_mid{
    background-color: whitesmoke;
}

.layout_title{
    text-transform: uppercase;
    font-size: 1.6rem;
    padding: 0.5rem;
}

.layout_title_color{
    color: whitesmoke;
}

.layout_column{
    height: 15rem;
    display: flex;
    align-items: center;
}

.layout_column a{
    color: whitesmoke;
    text-decoration: none;
    text-transform: capitalize;
}

.layout_column a:hover{
    color: wheat;
}

.social_img{
    object-fit: contain;
    height: calc(15rem / 3 * 2);
    margin: 1rem 0;
    transition: all 0.5s;
}

.social_img:hover{
    background-color: whitesmoke;
    padding: 1rem;
    transition: all 0.5s;
}

#video_youtube{
    background-color: aliceblue;
    width: 80%;
    padding: 1rem;
    border-radius: 1rem;
}

.video_title{
    text-transform: capitalize;
    text-align: center;
    padding: 2rem;
}

.video_youtube_iframe{
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 1rem;
    object-fit: contain;
}

.title_video_layout{
    text-align: center;
    margin: 5rem 0;
}

.video_layout{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.11%;
    margin: 0 auto;
}

.video_layout li{
    list-style: none;
}

.panel_video{
    background-color: whitesmoke;
    width: 31%;
    padding: 1rem;
    border-radius: 1rem;
}

@media (max-width: 76.8rem ) {

    #layout_card{
        width: 300px;
    }

    .layout_row{
        width: 100%;
    }

    .video_layout{
        gap: 2rem;
    }

    .panel_video{
        width: 100%;
    }
}
